<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Lambda.Core" version="1.0.0" targetFramework="monoandroid71" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.23" targetFramework="monoandroid71" />
  <package id="AWSSDK.Core" version="3.3.24" targetFramework="monoandroid71" />
  <package id="AWSSDK.Kinesis" version="3.3.5.5" targetFramework="monoandroid71" />
  <package id="AWSSDK.Lambda" version="3.3.13.3" targetFramework="monoandroid71" />
  <package id="AWSSDK.SecurityToken" version="3.3.4.4" targetFramework="monoandroid71" />
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid71" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="monoandroid71" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid71" />
  <package id="System.Console" version="4.0.0" targetFramework="monoandroid71" />
  <package id="System.Data.SqlClient" version="4.5.0" targetFramework="monoandroid71" />
  <package id="System.IO" version="4.1.0" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid71" />
  <package id="Validation" version="2.0.6.15003" targetFramework="monoandroid71" />
  <package id="Xam.Plugins.Vibrate" version="4.0.0.5" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Vision" version="42.1021.1" targetFramework="monoandroid71" />
</packages>